* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: radial-gradient(circle, #9fbec5 10%, transparent 11%);
        background-size: 1em 1em;
        background-color: #F4EDED;
        opacity: 1
}

#xthru {  /*its comedy sweaty, you wouldn't get it*/
  text-decoration: line-through;
}

.straighten {
    display: flex;
    align-items: center;
}

.boopRight {
    margin-right: 10px;
}

.boopLeft {
    margin-left: 10px;
}

.searchContainer {
    margin-top: 50px;
}
/* ======================== */
.container {
    max-width: 980px;
    margin-inline: auto;
    padding: 100px 15px;
}

.title {
    font-size: clamp(26px, 5vw, 40px);
    color: #14213d;
    margin-bottom: 30px;
}

.accordion-panel {
    padding: 7px 21px;
    margin-bottom: 24px;
    border: 1px solid #777e91;
    border-radius: 8px;
    background-color: #BC6C25;
}

.accordion input {
    display: none;
}

.accordion label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    padding-block: 7px;
    color: #FFFFFF;
    cursor: pointer;
    transition: color 0.25s;
}

.accordion label:hover,
.accordion input:checked + label {
    color: #FFFFFF;
}

.accordion i {
    color: #FFFFFF;
}

.accordion .close {
    display: none;
}

.accordion input:checked + label .close {
    display: block;
}

.accordion input:checked + label .open {
    display: none;
}

.accordion-body {
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}

.accordion-answer {
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 7px;
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: opacity 0.75s, transform 0.15s;
}

.accordion input:checked ~ .accordion-body {
    height: max-content;
}

.accordion input:checked ~ .accordion-body .accordion-answer {
    opacity: 1;
    transform: scale(1);
}

li {
  color: #f4f5f6;
}

.smol {
  font-size: 90%;
}