.searchCityContainer {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    
}

.titleArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; /* arbitrary value rn */
}

.dateHeader {
    font-size: 24px;
}

/* search bar */
.search {
	display: inline-flex;
	align-items: center;
	background-image: linear-gradient(45deg, #5bc0be, #3a506b);
	color: #fff;
	padding: 10px;
	border-radius: 4px;
    margin-top: 50px;
}
.search :is(input, button) {
	background: transparent;
	color: inherit;
	border: none;
	outline: none;
}
.search__input {
	width: 0;
	transition: width 0.5s;
}
.search__button {
	display: grid;
	place-items: center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: color 0.25s;
}
.search__button:hover {
	color: #e3e3e3;
}
.search:focus-within input {
	width: 200px;
}
::placeholder {
	font: inherit;
	color: #e3e3e3;
}